<app-header></app-header>

<div class="container mt-4">
  <div class="admin-login-container">
    <h4>Prijava za administratore</h4>
    <div class="form-group">
      <label for="username">Korisničko ime:</label>
      <input type="text" id="username" class="form-control" [(ngModel)]="username" />
    </div>

    <div class="form-group">
      <label for="password">Lozinka:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" />
    </div>

    <div>
      <button (click)="login()" class="green-button mt-3">Prijavi se</button>
    </div>

    <p class="text-danger mt-3">{{error}}</p>
  </div>
</div>
