.modal-content {
  border-radius: 10px;
}

.rating {
  display: flex;
  justify-content: flex-start;
}

.rating i {
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
}

.rating i.checked {
  color: #ffcc00;

}

.form-group textarea {
  resize: none;
}

.btn-success {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
}

.modal.fade.show.d-block {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: 1.75rem auto;
}
