.btn-lg {
  padding: 15px 30px;
  font-size: 1.25rem;
  background-color: rgb(83, 83, 190)
}

.mt-4 {
  margin-top: 2rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-group .btn {
  min-width: 150px;
}

.btn-group {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .btn-group .btn {
    margin-bottom: 10px;
    width: 100%;
  }
}
