<app-header-login></app-header-login>
<div class="container mt-4">
  <h2>Promena lozinke</h2>
  <form (submit)="changePassword()">
    <div class="form-group">
      <label for="oldPassword">Stara lozinka:</label>
      <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="newPassword">Nova lozinka:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="repeatNewPassword">Ponovite novu lozinku:</label>
      <input type="password" id="repeatNewPassword" [(ngModel)]="repeatNewPassword" name="repeatNewPassword" class="form-control" required>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Promeni lozinku</button>
    <br>
    <br>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Nazad</button>
  </form>
</div>
<app-footer> </app-footer>
