<app-header></app-header>


<div class="container mt-5">
  <h2 class="text-center mb-4">Opšte informacije</h2>

  <div class="row text-center mb-4">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Ukupno dekorisanih bašti</h5>
          <p class="card-text display-4">{{ totalGardens }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Ukupno vlasnika</h5>
          <p class="card-text display-4">{{ totalOwners }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Ukupno dekoratera</h5>
          <p class="card-text display-4">{{ totalDecorators }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Zakazani poslovi u poslednja 24h</h5>
          <p class="card-text display-4">{{ jobsLastDay }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Zakazani poslovi u poslednjih 7 dana</h5>
          <p class="card-text display-4">{{ jobsLastWeek }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Zakazani poslovi u poslednjih 30 dana</h5>
          <p class="card-text display-4">{{ jobsLastMonth }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<h2 class="text-center mb-4">Firme</h2>
<div class="row">
  <div class="col-md-6">
    <div class="form-group position-relative" (click)="onInputFocus('name')" (document:click)="onDocumentClick($event)">
      <input type="text" [(ngModel)]="searchName" class="form-control" placeholder="Pretrazi po nazivu firme"
        (input)="filterCompanies()" (focus)="onInputFocus('name')">
      <div *ngIf="showNameDropdown && filteredCompanyNames.length > 0" class="dropdown-menu show" style="width: 100%;">
        <button *ngFor="let name of filteredCompanyNames" class="dropdown-item" (click)="selectCompanyByName(name)">
          {{ name }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group position-relative" (click)="onInputFocus('address')"
      (document:click)="onDocumentClick($event)">
      <input type="text" [(ngModel)]="searchAddress" class="form-control" placeholder="Pretrazi po adresi firme"
        (input)="filterCompanies()" (focus)="onInputFocus('address')">
      <div *ngIf="showAddressDropdown && filteredCompanyAddresses.length > 0" class="dropdown-menu show"
        style="width: 100%;">
        <button *ngFor="let address of filteredCompanyAddresses" class="dropdown-item"
          (click)="selectCompanyByAddress(address)">
          {{ address }}
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-12">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th (click)="sortByName()" class="text-center">Naziv firme <i class="fas fa-sort"></i></th>
          <th (click)="sortByAddress()" class="text-center">Adresa <i class="fas fa-sort"></i></th>
          <th class="text-center">Angazovani dekorateri</th>
        </tr>
      </thead>
      <tbody *ngIf="filtered == false">
        <tr *ngFor="let company of companies">
          <td>{{ company.name }}</td>
          <td>{{ company.address }}</td>
          <td>
            <ul class="list-unstyled mb-0">
              <li *ngFor="let decorator of getDecorator(company.name)">
                {{ decorator.name }} {{ decorator.lastname }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="filtered == true">
        <tr *ngFor="let company of filteredCompanies">
          <td>{{ company.name }}</td>
          <td>{{ company.address }}</td>
          <td>
            <ul class="list-unstyled mb-0">
              <li *ngFor="let decorator of getDecorator(company.name)">
                {{ decorator.name }} {{ decorator.lastname }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row text-center mt-5">
  <div class="col-md-12">
    <h3 class="text-center mb-4">Galerija završenih bašti</h3>
    <div *ngIf="photos" id="jobGallery" class="row">
      <div class="col-md-4" *ngFor="let job of jobsPhoto">
        <div class="card">
          <img *ngIf="jobPhotos[job._id]" [src]="jobPhotos[job._id]" class="card-img-top" alt="Job Image">
          <div *ngIf="!jobPhotos[job._id]">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!photos">
      <p class="text-center">{{message}}</p>
    </div>
  </div>
</div>

