<app-header-login></app-header-login>
<div class="container mt-4">
  <h2>Administracija</h2>
  <button class="btn btn-primary" (click)="back()">Nazad</button>
  <br>
  <div class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dodavanje dekoratera</h5>
        </div>
        <div class="modal-body">
          <form (submit)="addDecorator()">
            <label for="name" class="required">Ime: </label>
            <input id="name" [(ngModel)]="name" name="name" required>
            <br>
            <label for="lastname" class="required">Prezime: </label>
            <input id="lastname" [(ngModel)]="lastname" name="lastname" required>
            <br>
            <label class="required">Pol: </label>
            <div class="radio-group">
              <input type="radio" id="male" name="gender" [(ngModel)]="gender" value="M" required>
              <label for="male">M</label>
              <input type="radio" id="female" name="gender" [(ngModel)]="gender" value="Z" required>
              <label for="female">Z</label>
            </div>
            <br>
            <label for="address" class="required">Adresa: </label>
            <input id="address" [(ngModel)]="address" name="address" required>
            <br>
            <label for="number" class="required">Kontakt telefon: </label>
            <input id="number" [(ngModel)]="number" name="number" required>
            <br>
            <label for="email" class="required">Email: </label>
            <input id="email" [(ngModel)]="email" name="email" required>
            <br>
            <label for="picture">Profilna slika: </label>
            <span class="picture-upload">
              <input id="picture" name="picture" type="file" (change)="onFileSelected($event)">
              <img *ngIf="picture" [src]="picture" alt="Profile picture" class="picture-icon">
            </span>
            <br>
            <label for="creditCard" class="required">Broj kreditne kartice: </label>
            <div class="credit-card-container">
              <img *ngIf="cardTypeIcon" [src]="cardTypeIcon" alt="Card Type Icon" class="card-icon">
              <input id="creditCard" [(ngModel)]="creditCard" name="creditCard" (input)="onCreditCardInput()" required>
            </div>
            <br>
            <label for="company">Firma: </label>
            <input id="company" [(ngModel)]="company" name="company" >
            <br>
            <button type="submit">Dodaj dekoratera</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>{{message}}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>


</div>
<app-footer></app-footer>
