<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="background-color: #a8e7fc !important">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Vasa Bast-Vasa Masta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Prijava</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registracija</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
