body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="creditCard"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.radio-group label {
  margin-right: 10px;
  margin-left: 5px;
}


button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.required::after {
  content: ' *';
  color: red;
}

.credit-card-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.card-icon {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 10px;
}

.credit-card-container input {
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.picture-icon{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  left: 10px;
}

.picture-upload {
  display: inline-flex;
  align-items: center;
}

.picture-upload img.picture-icon {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: #333;
}
