<app-header></app-header>
<div class="registration-container">
  <form (submit)="register()">
    <label for="username" class="required">Korisničko ime: </label>
    <input id="username" [(ngModel)]="username" name="username" required>
    <br>
    <label for="password" class="required">Lozinka: </label>
    <input id="password" type="password" [(ngModel)]="password" name="password" required
      title="Lozinka mora imati između 6 i 10 karaktera, početi slovom, sadržati bar jedno veliko slovo, tri mala slova, jedan broj i jedan specijalni karakter.">
    <br>
    <label for="name" class="required">Ime: </label>
    <input id="name" [(ngModel)]="name" name="name" required>
    <br>
    <label for="lastname" class="required">Prezime: </label>
    <input id="lastname" [(ngModel)]="lastname" name="lastname" required>
    <br>
    <label class="required">Pol: </label>
    <div class="radio-group">
      <input type="radio" id="male" name="gender" [(ngModel)]="gender" value="M" required>
      <label for="male">M</label>
      <input type="radio" id="female" name="gender" [(ngModel)]="gender" value="Z" required>
      <label for="female">Z</label>
    </div>
    <br>
    <label for="address" class="required">Adresa: </label>
    <input id="address" [(ngModel)]="address" name="address" required>
    <br>
    <label for="number" class="required">Kontakt telefon: </label>
    <input id="number" [(ngModel)]="number" name="number" required>
    <br>
    <label for="email" class="required">Email: </label>
    <input id="email" [(ngModel)]="email" name="email" required>
    <br>
    <label for="picture">Profilna slika: </label>
    <input id="picture" name="picture" type="file" (change)="onFileSelected($event)">
    <br>
    <label for="creditCard" class="required">Broj kreditne kartice: </label>
    <div class="credit-card-container">
      <img *ngIf="cardTypeIcon" [src]="cardTypeIcon" alt="Card Type Icon" class="card-icon">
      <input id="creditCard" [(ngModel)]="creditCard" name="creditCard" (input)="onCreditCardInput()" required>
    </div>
    <br>
    <button type="submit">Registracija</button>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>
<app-footer></app-footer>
